canvas {
  display: none;
}


main {
  min-height: calc(100vh - 150px);
}

.search-form {
  width: 136px;
  margin: 20px auto;
  justify-content: space-between;
  text-align: left;
}

.search-prompt {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #96FFD1;
}

.search-term {
  height: 36px;
  width: 100px;
  padding-left: 10px;
  color: #48484A;
  font-size: 0.8em;
  border: 1px solid #D70015;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-btn {
  width: 36px;
  font-size: 0.8em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.save-btn {
  height: 36px;
  width: 112px;
  font-size: 0.9em;
  border-radius: 4px;
  margin: 20px auto;
}

@media screen and (min-width: 480px) {
  .search-form {
    width: 160px;
  }
  .search-term {
    width: 124px;
  }
}

@media screen and (min-width: 640px) {
  .search-form {
    width: 200px;
    margin: 20px auto;
  }
  .search-prompt {
    font-size: 1em;
  }
  .search-term {
    height: 46px;
    width: 154px;
    font-size: 1em;
  }
  .search-btn {
    width: 46px;
    font-size: 1em;
  }
  .save-btn {
    width: 144px;
    height: 46px;
    font-size: 1em;
  }
}

@media screen and (min-width: 800px) {
  main {
    min-height: calc(100vh - 50px);
  }
  .search-form {
    margin-top: 40px;
  }
  .search-form {
    width: 300px;
  }
  .search-term {
    width: 254px;
  } 
}